body {
	margin: 0;
	padding: 0;
	background: #E3CEB5;
}

#conBody {
	position: absolute;
	top: 0px;
	left: 300px;
	background: #E3CEB5;
	font-family: 'Open Sans Condensed', sans-serif;
	border: 1px solid #926738
}